body {
  background-color: #f2f2f2;
  overflow-x:hidden;
}

main {
  overflow-x:hidden;
}

.image  {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.add{
  display: none;
}

.not-active {
   pointer-events: none;
   cursor: default;
}
